@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: Rubik;
}

img {
  object-fit: cover;
  object-position: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBF4DD;
}

main {
  position: absolute;
  width: 350px;
  height: 500px;
  display: flex;
  border: none;
  cursor: pointer;
  z-index: 100;
  backface-visibility: hidden;
  perspective: 1000px;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 7);
  border-radius: 20px;
  transition: all 1.5s;
}

main:hover  section {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.profile-img img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.name-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.name-container .name {
  color: #1C352D;
  font-size: 25px;
  font-weight: 500;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A3D64;
}

.header .img-container {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(250, 250, 250, 1);
  transition: all .2s;
}

.header img:hover {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.bottom {
  width: 100%;
  height: 60%;
  background-color: #FCF9EA;
  padding-top: 20px;
}

.bottom .text{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.bottom .text .name {
  font-size: 23px;
  font-weight: 500;
  color: #001F3D;
  margin-bottom: 0;
}

.bottom .text .job {
  font-size: 18px;
  color: gray;
  margin-top: 0;
}

.bottom .text .quote {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: #547792;
  margin-top: 10px;
}


.bottom .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  margin-left: 10%;

}

.bottom .icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icons .img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons .img-container:hover .tooltip {
  opacity: 1;
}

.icons .img-container .tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px 4px;
  border-radius: 8px;
  padding: 2px 4px;
  bottom: -19px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ;
  font-size: 12px;
}

a {
  text-decoration: none;

}

@media (min-height: 970px) {
  main {
    width: 70%;
    height: 50%;
  }

  .name-container .name {
    font-size: 50px;
    font-weight: 500;
  }

  .header {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A3D64;
  }

.header .img-container {
    width: 255px;
    height: 255px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom .icons img {
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .header img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(250, 250, 250, 1);
    transition: all .2s;
  }

  .header img:hover {
    width: 255px;
    height: 255px;
    border-radius: 50%;
  }

  .bottom {
    width: 100%;
    height: 60%;
    background-color: #FCF9EA;
    padding-top: 50px;
  }

  .bottom .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .bottom .text .name {
    font-size: 50px;
    font-weight: 500;
    color: #001F3D;
    margin-bottom: 0;
  }

  .bottom .text .job {
    font-size: 30px;
    color: gray;
    margin-top: 0;
  }

  .bottom .text .quote {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #547792;
    margin-top: 10px;
  }


  .bottom .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 60px;
    margin-left: 10%;

  }

  .bottom .icons img {
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .icons .img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons .img-container:hover .tooltip {
    opacity: 1;
  }

  .icons .img-container .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 4px;
    border-radius: 8px;
    padding: 2px 4px;
    bottom: -19px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ;
    font-size: 18px;
  }
}


